<extend name="Public:base"/>

<block name="title">出租管理</title></block>

<block name="header">
            <li class="active">出租详情</li>
</block>

<block name="content">
    <!-- 内容开始 -->
    <div class="courst-content" style="height: 400px;padding: 10px;">
        <div class="courst-content-item">
            <div class="people-info">
                <div class="renyuan-info">
                    <div class="title">
                        出租信息
                    </div>
                    <div class="info-content">
                        <div class="content">
                            使用人身份证号码：{$leaseInfo.usecardid}<br>
                            使用人姓名：{$leaseInfo.usename}<br>
                            使用人电话：{$leaseInfo.usephone}<br>
                            使用单位：{$leaseInfo.useland}
                        </div>
                        <div class="content">
                            出租类别：{$leaseInfo.leasetype|getLeaseType}<br>
                            出租用途：{$leaseInfo.leaseuse|getLeaseUse}<br>
                            出租时间：{$leaseInfo.starttime}<br>
                            到期时间：{$leaseInfo.endtime}
                        </div>
                        <div class="content">
                            <input type="hidden" id="leaseId" value="{$leaseInfo.id}">
                            房屋地址：<br>
                            <a style="margin-left: 60px;" href="/index.php?m=house&c=information&a=index&id={$houseInfo.id}">{$houseInfo.community|getCommunity}{$houseInfo.buildnum}{$houseInfo.unitnum}{$houseInfo.roomnum}<br></a>
                            <div class="content-operate">
                                <a href="/index.php?m=lease&c=edit&a=index&id={$leaseInfo.id}">修改</a>
                                <a id="del" style="cursor: pointer;margin-left: 10px;" onclick="delInfo.del()">删除</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="people-info-operate">
								<span class="input-group-btn">
									<button style="margin-left: 30px;border-radius: 10%;" class="btn btn-success " onclick="javascript:history.back(-1);">返回</button>
								</span>
                </div>
            </div>
        </div>

    </div>
    <!-- 内容结束 -->
<div style="margin-top: 140px;"></div>
</block>

<block name="js">
    <script src="/Public/js/lease/delInfo.js"></script>
</block>