<extend name="Public:base"/>

<block name="title">人员列表</title></block>
<block name="css">
    <link href="/Template/css/peopleList.css" rel='stylesheet' type='text/css' />
</block>
<block name="header">
    <div class="courst-bread" style="margin-top: 20px;">
        <ol class="breadcrumb">
            <li><a href="/index.php">首页</a></li>
            <li><a href="/index.php?m=people&c=list&a=qianchu">人员管理</a></li>
            <li class="active">人员搜索列表</li>
        </ol>
    </div>
</block>
<block name="content">
    <!-- 内容开始 -->
    <div class="courst-content" style="height: 450px;">
        <if condition="$peopleInfo neq null">
        <div class="courst-content-item" style="width: 1100px;">
            <volist name="peopleInfo" id="peopleInfo">
                <!-- 人员信息 -->
                <div id="content-item" class="content-item" style="width: 300px;">
                    <div id="content-item-name" class="content-item-name" >
                        <img id="peopleImg" onclick="javascript:location.href='/index.php?m=people&c=information&a=index&id={$peopleInfo.id}' " src="{$peopleInfo.picture}"  alt="个人头像" ／>
                    </div>
                    <div id="content-item-number" onclick="javascript:location.href='/index.php?m=people&c=information&a=index&id={$peopleInfo.id}' " class="content-item-number" >
                        {$peopleInfo.name}&nbsp;<span style="color: #FAC52C">【{$peopleInfo.policy|getPolicy}】</span><br>
                        <span style="color: #888888">性别：{$peopleInfo.sex|getSex}</span>&nbsp;&nbsp;<span style="color: #888888">民族：{$peopleInfo.nation}</span><br>
                        <span style="color: #888888">[工作单位]:{$peopleInfo.workland}</span>
                    </div>
                </div>
                <!-- 人员信息结束 -->
            </volist>

        </div>
    <else/>
            <span style="color: red">没有相关记录</span>
    </if>

</block>

<block name="page">
    <!-- 分页 -->
    <nav style="text-align: center;margin-top: 40px;">
        <ul class="pagination-plain">
            {$pageRes}
        </ul>
    </nav>
    <!-- 分页结束 -->
</block>
