<!DOCTYPE html>
<html>
<head>
	<title>关于本软件</title>
</head>
<body>
<div style="width: 1000px;height: 500px;margin:0 auto;text-align: center;line-height: 25px;">
	<h2>导入表格实例</h2><br>
	<div style="width: 480px;margin:0 auto;float: left;">
		<h4>关于社区添加</h4>
		<img style="width: 350px;height: 150px;" src="./Template/img/addCommunity.png">
	</div>

	<div style="width: 480px;margin:0 auto;float: left;">
		<h4>表格的导入</h4>
	<span>房屋表格导入实例</span>&nbsp;:&nbsp;<a href="http://203.195.231.15:8080/房屋.xlsx">房屋.xlsx</a><br>
	<span>车辆表格导入实例</span>&nbsp;:&nbsp;<a href="http://203.195.231.15:8080/车辆.xlsx">车辆.xlsx</a><br>
	<span>常住户表格导入实例</span>&nbsp;:&nbsp;<a href="http://203.195.231.15:8080/常住户.xlsx">常住户.xlsx</a><br>
	<span>户籍户表格导入实例</span>&nbsp;:&nbsp;<a href="http://203.195.231.15:8080/户籍户.xlsx">户籍户.xlsx</a><br>
	<span>暂住户表格导入实例</span>&nbsp;:&nbsp;<a href="http://203.195.231.15:8080/暂住户.xlsx">暂住户.xlsx</a><br>
	<span>侨联户表格导入实例</span>&nbsp;:&nbsp;<a href="http://203.195.231.15:8080/侨联户.xlsx">侨联户.xlsx</a><br>
	</div>
	
	
	

</div>
</body>
</html>