<extend name="Public:base"/>

<block name="title">房屋管理</block>

<block name="header">
    <div class="courst-bread" style="margin-top: 20px;">
        <ol class="breadcrumb">
            <li><a href="/index.php">首页</a></li>
            <li><a href="/index.php?m=people&c=list&a=qiaolian">人员管理</a></li>
            <li class="active">侨联信息添加</li>
        </ol>
    </div>
</block>

<block name="content">
    <!-- 内容开始 -->
    <div class="courst-content" style="padding: 10px;height: 400px;">
        <div class="courst-content-item">
            <div class="addHouse-content">
                <div style="height: 100%;width: 600px;margin: 0 auto;margin-top: 30px;">
                    <form role="form" id="qiaolianInfo" >
                        <input type="hidden" name="community" value="{$Think.session.admin.community}">
                        <div class="form-group ">
                            <div class="input-group">
                                <span style="font-size: 10px;" class="input-group-addon">姓名</span>
                                <input style="font-size: 10px;"  type="text" class="form-control" name="name" placeholder="姓名">
                            </div>
                        </div>



                        <!-- 手机验证 -->
                        <div class="form-group">
                            <div class="input-group  ">
                                <span style="font-size: 10px;" class="input-group-addon ">户主名字</span></span>
                                <if condition="$ownerName eq null"><input style="font-size: 10px;width: 120px;"  type="text" class="form-control"  name="ownerName" placeholder="户主名字"><else/><input style="font-size: 10px;width: 120px;"  type="text" class="form-control"  name="ownerName" value="{$ownerName}"></if>

                                <span style="font-size: 10px;" class="input-group-addon ">与户主关系</span></span>
                                <select style="font-size: 10px;"  name="ownerRelative" data-toggle="select" class="form-control select select-warning mrs">
                                    <option value="1" check>户主</option>
                                    <option value="2">妻子</option>
                                    <option value="3">长子</option>
                                    <option value="4">次子</option>
                                    <option value="5">长女</option>
                                    <option value="6">次女</option>
                                </select>
                            </div>
                        </div>

                        <!-- 手机验证 -->
                        <div class="form-group">
                            <div class="input-group  ">
                                <span style="font-size: 10px;" class="input-group-addon ">居住国家</span>
                                <input style="font-size: 10px;width: 120px;"  type="text" class="form-control"  name="country" placeholder="居住国家">

                                <span style="font-size: 10px;" class="input-group-addon ">类型</span>
                                <select style="font-size: 10px;"  name="type" data-toggle="select" class="form-control select select-warning mrs">
                                    <option value="1">华侨</option>
                                    <option value="2">港澳台</option>
                                    <option value="3">外籍</option>
                                    <option value="4">留学生</option>
                                </select>

                            </div>
                        </div>

                    </form>
                </div>
                <div class="addHouse-operate">
                    <button class="btn btn-success" style="margin-left: 140px;border-radius: 10%;" onclick="addqiaoLianInfo.add()">确定</button>
                    <button style="margin-left: 30px;border-radius: 10%;" class="btn btn-success " onclick="javascript :history.back(-1);">返回</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 内容结束 -->
</block>

<block name="js">
    <script src="/Public/js/people/addqiaoLianInfo.js"></script>
</block>