<extend name="Public:base"/>

<block name="title">车辆管理</title></block>

<block name="header">
    <li class="active">车辆搜索列表</li>
</block>
<block name="content">
    <!-- 内容 -->
    <div class="courst-content" style="font-size: 12px;height: 400px;">

        <div class="courst-contenr-border">

            <table class="table-position table  table-bordered table-hover" style="width: 100%;margin: 0 auto; ">
                <tbody style="background-color: #FBFCFC;text-align: center;">
                <tr>
                    <th style="text-align: center;">身份证号码</th>
                    <th style="text-align: center;">姓名</th>
                    <th style="text-align: center;">联系电话</th>
                    <th style="text-align: center;">车辆品牌</th>
                    <th style="text-align: center;">车牌号码</th>
                    <th style="text-align: center;">车辆类型</th>
                </tr>
                <if condition="$carInfo neq null">
                <volist name="carInfo" id="carInfo">
                    <tr style="font-size: 14px;color: #8C8C8C;cursor: pointer;" onclick="javascript:location.href='/index.php?m=car&c=information&a=index&id={$carInfo.id}'">
                        <td>{$carInfo.cardid}</td>
                        <td>{$carInfo.name}</td>
                        <td>{$carInfo.phone}</td>
                        <td>{$carInfo.carbrand}</td>
                        <td>{$carInfo.carid}</td>
                        <td>{$carInfo.cartype|getCarType}</td>
                    </tr>
                </volist>
                    <else/>

                    <tr style="font-size: 14px;color: #8C8C8C;cursor: pointer;" onclick="javascript:location.href='/index.php?m=car&c=list&a=index'">
                        <td colspan="7">没有相关资料,点击返回</td>
                    </tr>
                </if>

                </tbody>
            </table>
        </div>
    </div>
    <!-- 内容结束 -->
    <div style="margin-top: 20px;">

    </div>
</block>