<extend name="Public:base"/>

<block name="title">出租管理</block>

<block name="header">
    <li class="active">出租修改</li>
</block>

<block name="content">
    <!-- 内容开始 -->
    <div class="courst-content">
        <div class="courst-content-item">
                <div class="addHouse-content">
                    <div style="height: 100%;width: 600px;margin: 0 auto;margin-top: 30px;">
                        <form role="form" id="editLeaseInfo" >
                            <!-- 手机验证 -->
                            <div class="form-group">
                                <div class="input-group  ">

                                    <span class="input-group-addon ">出租类型</span>
                                    <select name="leaseType" data-toggle="select" class="form-control select select-warning mrs">
                                        <if condition="$leaseInfo.leasetype eq 1"><option value="1" selected>个人</option><else/><option value="1" >个人</option></if>
                                        <if condition="$leaseInfo.leasetype eq 2"><option value="2" selected>单位</option><else/><option value="2" >单位</option></if>
                                    </select>

                                    <span class="input-group-addon ">出租用途</span>
                                    <select name="leaseUse" data-toggle="select" class="form-control select select-warning mrs">
                                        <if condition="$leaseInfo.leaseuse eq 1"><option value="1" selected>居住</option><else/><option value="1" >居住</option></if>
                                        <if condition="$leaseInfo.leaseuse eq 2"><option value="2" selected>办公</option><else/><option value="2" >办公</option></if>
                                        <if condition="$leaseInfo.leaseuse eq 3"><option value="3" selected>商业</option><else/><option value="3" >商业</option></if>
                                        <if condition="$leaseInfo.leaseuse eq 4"><option value="4" selected>其他</option><else/><option value="4" >其他</option></if>
                                    </select>

                                </div>

                            </div>

                            <!-- 手机验证 -->
                            <div class="form-group">
                                <div class="input-group  ">
                                    <span class="input-group-addon ">出租时间</span>
                                    <input  type="date" class="form-control"  name="startTime" placeholder="注册日期" value="{$leaseInfo.starttime}"/>
                                    <span class="input-group-addon ">到期时间</span>
                                    <input  type="date" class="form-control"  name="endTime" placeholder="注册日期" value="{$leaseInfo.endtime}"/>
                                </div>

                            </div>

                            <!-- 校验用 -->
                            <div class="form-group">
                                <div class="input-group  ">
                                    <span class="input-group-addon ">使用人姓名</span>
                                    <input type="text" class="form-control"  name="useName" value="{$leaseInfo.usename}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group  ">
                                    <span class="input-group-addon ">使用人身份证</span>
                                    <input type="text" class="form-control"  name="useCardId" value="{$leaseInfo.usecardid}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group  ">
                                    <span class="input-group-addon ">使用人电话</span>
                                    <input type="text" class="form-control"  name="usePhone" value="{$leaseInfo.usephone}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group  ">
                                    <span class="input-group-addon ">使用单位</span>
                                    <input type="text" class="form-control"  name="userLand" value="{$leaseInfo.useland}">
                                </div>
                            </div>

                            <input type="hidden" name="id" value="{$leaseInfo.id}">
                        </form>
                    </div>
                    <div class="addHouse-operate">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" style="margin-left: 140px;border-radius: 10%;" onclick="editInfo.edit()">确定</button>
                                            <button style="margin-left: 30px;border-radius: 10%;" class="btn btn-success " onclick="javascript :history.back(-1);">返回</button>
                                        </span>
                    </div>
                    <!-- 显示房屋信息 -->
                    <div class="houseInfo-show" style="height: 300px;padding-left: 8px;">
                        <span style="font-weight: bold;">房屋地址&nbsp;:</span>&nbsp;&nbsp;<span style="font-size: 14px;">{$houseInfo.address}</span><br>
                        <span style="font-weight: bold;">小区名称&nbsp;:</span>&nbsp;&nbsp;<span style="font-size: 14px;">{$houseInfo.community|getCommunity}</span><br>
                        <span style="font-weight: bold;">楼栋号&nbsp;:</span>&nbsp;&nbsp;<span style="font-size: 14px;">{$houseInfo.buildnum}</span><br>
                        <span style="font-weight: bold;">单元号&nbsp;:</span>&nbsp;&nbsp;<span style="font-size: 14px;">{$houseInfo.unitnum}</span><br>
                        <span style="font-weight: bold;">室号&nbsp;:</span>&nbsp;&nbsp;<span style="font-size: 14px;">{$houseInfo.roomnum}</span><br>
                        <span style="font-weight: bold;">房屋主姓名&nbsp;:</span>&nbsp;&nbsp;<span style="font-size: 14px;">{$houseInfo.name}</span><br>
                        <span style="font-weight: bold;">身份证号码&nbsp;:</span>&nbsp;&nbsp;<span style="font-size: 14px;">{$houseInfo.cardid}</span><br>
                        <span style="font-weight: bold;">联系电话&nbsp;:</span>&nbsp;&nbsp;<span style="font-size: 14px;">{$houseInfo.phone}</span><br>
                        <span style="font-weight: bold;">房屋类型&nbsp;:</span>&nbsp;&nbsp;<span style="font-size: 14px;">{$houseInfo.roomtype|getRoomType}</span><br>
                    </div>
                    <!-- 显示房屋信息结束 -->
                </div>
        </div>

    </div>
    <!-- 内容结束 -->
</block>

<block name="js">
    <script src="/Public/js/lease/editInfo.js"></script>
</block>